html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff000;
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

/*Nav CSS*/
.findItPhoto {
  margin: 0;
  padding: 0;
  height: auto;
  width: 60%;
  float: right;
}

.profilePhoto {
  margin-left: 30px;
  margin-top: 70px;
  width: 25%;
  height: auto;
  display: block;
  padding: 0;
  float: left;
  margin-bottom: 20px;
}

#title,#realName{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  font-size: 21px;
  float: left;
  text-align: left;
}

#title{
  font-weight: 1200;
  font-size: 40px;
  margin-bottom: 20px;
}

/*CARD TO HOLD ACTIVE QUESTS*/
content{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  width: 100%;
  height: auto;
}
.card {
  width: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f4f6;
  padding: 0.5rem;
  margin: 0;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

