html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff000;
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

/*Nav CSS*/
nav {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
}

.findItPhoto {
  display: grid;
  grid-column: 2;
  grid-row: 1 / span 3;
  padding: 0;
  justify-self: center;
  align-self: center;
  height: auto;
  width: 90%;
}

#backArrowbtn {
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 3;
  background-color: #fff000;
  border: none;
}

#backArrow {
  margin: 20px;
  width: 20%;
}

.profilePhoto {
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 3;
  width: 50%;
  height: auto;
  display: block;
  justify-self: center;
  align-self: center;
  padding: 0;
  margin-top: 40px;
}

#title,
#realName {
  grid-column: 1;
  width: 100%;
  text-align: left;
  padding: 0 10px;
  padding-left: 40px;
  margin: 0;
}

#title {
  font-size: 30px;
  font-weight: 600px;
}

/*CARD TO HOLD ACTIVE QUESTS*/
content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  width: 100%;
  height: auto;
}
.card {
  width: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f4f6;
  padding: 0.5rem;
  margin: 0;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


content h4{
  font-size: 50px;
  margin: 0;
}




main,
.content,
.page {
  padding-bottom: 84px;
}

#lostActiveQuestsContainer,
#foundActiveQuestsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  padding-bottom: 100px;
}

.post-card {
  width: 350px;
  min-height: 250px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.post-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.post-card h3 {
  position: relative;
  margin: 5px 10px 5px;
  font-size: 16px;
  color: #333;
}

.post-card h2{
  position: relative;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #333;
}

.post-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 5px 10px; 
}

.post-card p {
  font-size: 12px;
  color: #777;
  position: absolute;
}

.details-button {
  padding: 6px 10px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.1s;
  margin-left: auto;
}

.details-button:hover {
  background-color: #690269; 
}

.completed-button{
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800080;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
