html{
    overflow-y: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000;
  background: #fff000;
  padding-bottom: 100px;
}

.back-button{
    background-color: #fff000;
    border: none;
    position: absolute;
}

.back-button-img{
    height: 25px;
    width: auto;
}

.header{
    text-align: center;
}


.contact-action-btn {
    width: 90%; 
    margin-left: 20px; 
    padding: 15px;
    
   
    background-color: white; 
    color: black; 
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
}

/* --- Styles for details.html --- */
.detailed-post-card {
    max-width: 400px;
    max-width: 90%;
    margin: auto;
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.detailed-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain; 
    background-color: #f8f8f8; 
}

.detailed-content {
    margin: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 0;
}

.detailed-content h1 {
    font-size: 24px;
    margin-top: 0;
}

.detailed-content h3 {
    font-size: 16px;
    margin: 15px 0 5px;
    color: #333;
    border-bottom: 1px solid #eee;
    /* padding-bottom: 5px; */
}

.detailed-content p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    margin: 0 0 10px 0;
}

.posted-time {
    font-style: italic;
    color: #999;
    margin-bottom: 20px;
}

.hashtags-list {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-weight: bold;
    color: #ffd700; 
}
