body {
    background-color: #fff000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Archivo Narrow", system-ui, -apple-system, Segoe UI, Roboto,
        Arial, sans-serif;
}

/*NAV CSS*/
nav button {
    margin: 0;
    padding: 0;
    background-color: #fff000;
    border: none;
    font-weight: 100;
}

.leftNav {
    float: left;
    padding: 20px;
}

.rightNav {
    float: right;
    padding: 20px;
}

/*TEMPLATE(DIRECT MESSAGE) CSS*/
