body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  display: flex;
  align-items: center;
  background: #e5e5e5;
  padding: 10px;
  justify-content: space-between;
}

.logo img {
  width: 40px;
  height: 40px;
}

.filter-btn {
  width: 44px;
  height: 44px;
  padding: 6px;
  border-radius: 10px;
  transform: translateX(8px);
}

.filter-popup.hidden {
  display: none;
}

.filter-popup {
  position: absolute;
  top: 60px;
  right: 12px;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 100;
  width: 180px;
}

.filter-popup h3 {
  margin-top: 0;
  font-size: 16px;
  text-align: center;
}

.filter-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-popup li {
  margin: 8px 0;
}

.filter-popup button {
  width: 100%;
  padding: 8px;
  background: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}

.filter-popup button:hover {
  background: #ccc;
}

.search-container {
  flex: 1;
  margin: 0 10px;
}

.search-container input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-btn img {
  width: 24px;
  height: 24px;
}

.file-upload-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.item-card {
  background: #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
}

.item-image {
  background: #f9eaea;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.item-info p {
  margin: 4px 0;
}

footer {
  position: relative;
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
