gridlayout {
  display: grid;
  grid-template-rows: 7% 50% 30% 13%;
  grid-template-columns: auto;
  min-height: 100vh;
}

body {
  background-color: lightgray;
}

/*Nav CSS*/
nav {
  display: grid;
  grid-row: 1;
  background-color: lightyellow;
  margin: 0;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.settingPhoto {
  width: 20px;
  height: auto;
  display: block, flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

/*Profile info*/
section {
  display: grid;
  grid-row: 2;
  margin: 30px;
  padding: 0;
}

.profilePhoto {
  display: flex;
  width: 100px;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

/*Display profile contents*/
content {
  display: grid;
  grid-row: 3;
  margin: 0;
  padding: 0;
}

form {
  margin: 20px;
  padding: 20px;
  border: solid;
  border-radius: 10px;
}

content div {
  margin: 20px;
  padding: 20px;
  border: solid;
  border-radius: 10px;
}

/*Design for footer*/
footer {
  display: grid;
  grid-row: 4;
  margin: 0;
  padding: 0;
  position: relative;
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  cursor: pointer;
}