gridlayout {
    display: grid;
    grid-template-rows: 7% 50% 30% 13%;
    grid-template-columns: auto;
    min-height: 100vh;

}

/*Nav CSS*/
nav {
    display: grid,flex;
    grid-row: 1;
    justify-content: flex-end;
    background-color: bisque;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    text-decoration: none;
    height:100%;
}

.settingPhoto {
    width: 20px;
    height: auto;
    display: block;
    margin: auto;
}

/*Profile info*/
section {
    display: grid;
    grid-row: 2;
}

.profilePhoto {
    display: flex;
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
    justify-content: flex-start;
}

/*Display profile contents*/
content {
    display: grid;
    grid-row: 3;
}