* {
    font-family: "Archivo Narrow", system-ui, -apple-system, Segoe UI, Roboto,
        Arial, sans-serif;
}

body {
    background-color: #fff000;
    margin: 0;
    padding: 0;
}

/*NAV CSS*/
.header {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.back-button {
    position: absolute;
    border: none;
    border-radius: 100%;
    background-color: #fff000;
    font-size: 70px;
    margin-left: 5px;
    padding: 0;
}

.back-button:hover {
    background-color: #800080;
}


/*CONTENTS CSS*/
.title {
    font-size: 30px;
    margin-left: 20px;
}

input {
    height: 10%;
    font-size: 30px;
    margin: 0;
    width: 90%;
    border-radius: 30px;
}

content>div {
    border: solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

content h3{
    font-size: 30px;
}

/*FOOTER CSS*/