*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.title{
    font-size: 20px;
}

.back-button{
    position: absolute;
}

content>div {
    border: solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
