gridLayout{
    /* grid-template-columns: ; */
    grid-template-rows: 10% 50% 30% 10%;
}

nav p{
    
    font-weight: bold;
    font-size:120px;
    background-color: blueviolet;
    text-align: center;
}

nav{
    display:grid;
    grid-row: 1 ;
    align-content: top;
}

header{
    display:grid;
    grid-row:2;
}

section{
    display: grid;
    grid-row:3;
}

footer{
    display: grid;
    grid-row:4;
}


