* {
  box-sizing: border-box;
}

html{
    margin: 0;
}

body {
margin: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Archivo Narrow", system-ui, -apple-system, Segoe UI, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  background: #fff000;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 7vh 38vh 55vh;
}

h1{
    position: absolute;
    display: flex;
    justify-self: center;
    margin-top: 2%;
}

.back-button{
    background-color: #fff000;
    border: none;
    padding: 3%;
    display: flex;
    align-content: center;
    
}

.back-button-img{
    height: 25px;
    width: auto;
    display: flex;
    align-self: center;
}

.box{
    margin: 5%;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 242, 242);
    height: 300px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.box > button{
    font-size: 1000%;
    border: none;
    outline: none;
    background-color: rgb(250, 242, 242);
}

.container{
    background-color: white;
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

.form-group{
    padding: 5%;
}

.form-control{
    display: grid;
    place-self: center;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 150%;
}

.add-button{
    padding: 13%;
    padding-left: 36%;
    padding-right: 36%;
}

.status {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#status{
    width: 300px;
}

.item{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.description{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.hashtags{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

.locations{
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
}

label{
    margin-left: 8%;
}

form{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 9vh 9vh 14vh 9vh 9vh 5vh 5vh;
}

.btn{
    border: none;
    outline: none;
    background-color: white;
}

.clear{
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    font-size: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#clearBtn{
    font-size: 20px;
    width: 150px;
    border: none;
    background-color: white;
    color: #800080;
    border-radius: 5px;
}

.submit{
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

#submitBtn{
    font-size: 20px;
    width: 150px;
    border: none;
    background-color:#800080;
    color: white;
    border-radius: 5px;
}
