* {
  box-sizing: border-box;
}

html{
    margin: 0;
}

body {
    margin: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
  color: #000;
  background: #fff000;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10vh 40vh 50vh;
}

h1{
    margin: 5%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.box{
    margin: 5%;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 242, 242);
    height: 300px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.box > button{
    font-size: 1000%;
    border: none;
    outline: none;
    background-color: rgb(250, 242, 242);
}

.container{
    background-color: white;
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

.form-group{
    padding: 5%;
}

.form-control{
    display: grid;
    place-self: center;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 150%;
}

.add-button{
    padding: 13%;
    padding-left: 36%;
    padding-right: 36%;
}

.item{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.description{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.hashtags{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.locations{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

label{
    margin-left: 8%;
}

form{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 11vh 11vh 11vh 11vh 6vh;
}

.btn{
    border: none;
    outline: none;
    background-color: white;
}

.clear{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;

}

.submit{
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}
